<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content = "width= device-width,initial-scale=1.0">
    <title> Lihoza -Projetcs </title>
	<link href = "CSS/Projects.css" rel = "stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap" rel="stylesheet">
</head>
<body>
	<nav class ="navbar">
		<a href = "Home.html" class = "nav-logo"> Lihoza Voice </a>
		<ul>
			<li> <a href ="About.html"> About Us </a></li>
			<li> <a href ="Projects.html"> Ikunde Initiative </a></li>
			<li> <a href ="Films.html"> Films </a></li>
			<li> <a href ="Blog.html"> Blog </a></li>
		</ul>
	</nav>
	
	<main> 
	<div class ="content">
	<h1> IKUNDE INITIATIVE </h1>
	<p class ="text"> <b> "Ikunde" is a kinyarwanda word that means "love yourself." </b></p>
	<p class = "txt"><b> “Ikunde” is an initiative under LIHOZA VOICE with a vision and mission to advocate for self-value and to stimulate its traits within the youth and women with a focus on mental wellbeing.</b> </p>
	</div> 
	
	<h4 class ="hpillars"> IKUNDE | Pillars </h4> 
	<div class = "pillars">
	<span> <b> Self-Value </b> </span> 
	<span> <b> Mental health </b> </span> 
	<span> <b> Community Building </b> </span> 
	</div>
	
	<h4 class = "hsocial"> IKUNDE | Social Issues </h4>
	<p class ="txt"><b>  “Ikunde” aims to address social issues that arise as a result of failure to positively reinforce the aforementioned pillars. </b></p>
	<div class ="social">
	 <span> <b>  Mental Health Disorders </b> </span> 
	<span><b> Drugs & Substance Abuse </b> </span>
	<span><b> Gender Based Violence </b> </span> 
	<p><b> <span> Economic Deprivation  </span></b></p>
	<p><b> <span> Childhood Emotional Neglect </span></b> 
	</div>
	
	</main>
</body>
</html>